import catapcore.config as cfg
from catapcore.common.machine.area import MachineArea
from typing import Dict, List, Tuple
from collections import namedtuple
import os


if os.path.exists("{{lattice_folder}}"):
    cfg.LATTICE_LOCATION = "{{lattice_folder}}"
else:
    raise FileNotFoundError("Lattice location '{{lattice_folder}}' does not exist. Please check the path.")
from catapcore.common.machine.area import MachineArea


#_area_names = [
#    {% for area in areas %}
#    "{{area}}",
#    {% endfor %}
#]
#cfg._machine_areas_tuple = namedtuple("MACHINE_AREAS", _area_names)
#cfg.MACHINE_AREAS = cfg._machine_areas_tuple(*[MachineArea(name=name) for name in _area_names])

{% if hardware_types %}
cfg._hardware_types = {
    {% for hardware_type, hardware_subtype in hardware_types.items() %}
    "{{hardware_type}}": [{% for subtype in hardware_subtype %}"{{subtype}}",{% endfor %}],
    {% endfor %}
}
def _convert_types_to_named_tuple(types: Dict[str, List[str]]) -> Tuple:
    _subtypes = [
        namedtuple(type_name, types[type_name])(*types[type_name])
        for type_name in types
    ]
    _types = namedtuple("TYPES", types.keys())
    return _types(*_subtypes)

cfg.TYPES = _convert_types_to_named_tuple(types=cfg._hardware_types)
{% endif %}


cfg.SNAPSHOT_LOCATION = "./snapshots/"
cfg.EPICS_TIMEOUT = 0.5

